# Root Environment Variables for Docker Compose
# Copy this file to .env and update the values as needed

# JWT Secret for API Gateway (Generate a new one for production!)
JWT_SECRET=55acf19177312dec2d7950f6b3989d3e00daef2f11ed7cbd4e78b5162e2a05bbde8c690f3d8d6c051fc64196d50b71ce8fd702ae16c28325c742848b6012ce44

# Database Configuration
POSTGRES_USER=hng_user
POSTGRES_PASSWORD=hng_pass
POSTGRES_DB=user_db

# RabbitMQ Configuration
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=password

